$pageWidth:1170px;
$mainBoxWidth:798px;
$sidebarWidth:352px;
$themColor:#878787;
$titleColor:#e63929;
$auxiliaryColor:#f7766a;
$navHeight:64px;
$bannerWidth:$mainBoxWidth;
$bannerHeight:202px;
$lineColor:#c9c9c9;
$mainFontColor:#212121;
$freeColor:#7ed321;
$payColor:#e63929;