<div class="sidebar-wrapper">
    <div class="side-active">
        <div class="title-group">
            <span class="title">在线课堂</span>
            <a class="more" href="#">更多</a>
        </div>
        <div class="advertise">
            <a href="#">
                <img src="{% static 'images/hudongba.min.png' %}" alt="">
            </a>
            <div class="img-title">
                2019年11月小饭桌创业课堂武汉站
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <span class="active-end">已结束</span>
                    <span class="active-title">2019年10月小饭桌创业课堂南京站</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="active-end">已结束</span>
                    <span class="active-title">2019年9月小饭桌创业课堂上海站</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="side-platform">
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="weibo">
                    <a href="#" target="_blank">小饭桌创业课堂</a>
                </li>
                <li class="toutiao">
                    <a href="#" target="_blank">小饭桌</a>
                </li>
            </ul>
            <div class="right-group">
                <p class="desc">小饭桌</p>
            </div>
        </div>
    </div>
    <div class="side-hot-news">
        <div class="title-group">
            <span class="title">热门文章</span>
        </div>
        <ul class="hot-list-group">
            <li>
                <a href="#">
                    <div class="left-group">
                        <p class="title">早报：双11天猫成交额2684亿，京东2044亿；WeWork财务...</p>
                        <p class="more">
                            <span class="category">热点</span>
                            <span class="pub-time">11月12日</span>
                        </p>
                    </div>
                    <div class="right-group">
                        <img src="{% static 'images/tianmao.min.jpg' %}" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="left-group">
                        <p class="title">早报：双11天猫成交额2684亿，京东2044亿；WeWork财务...</p>
                        <p class="more">
                            <span class="category">热点</span>
                            <span class="pub-time">11月12日</span>
                        </p>
                    </div>
                    <div class="right-group">
                        <img src="{% static 'images/tianmao.min.jpg' %}" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>